.infoWindowStyle {
    margin-left: .5%;
    position:fixed;
    bottom: -110.2vh;
    left: -42.5%;
    box-sizing: border-box;
    width: 15%;
    height: 75vh;
    transform: translate3d(-50%, -100%, 0);
    background-color: white;
    border: 1px solid #0b2f4a;
    border-radius: 8px;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
    z-index:9;
}

.close-btn {
    background-color: #0b2f4a !important;
    color: white !important;
    border: 0ch !important;
    position: fixed;
    right: 1%;
    top: 1%;
}

.Header {
    background-color: #0b2f4a !important;
    height: 20%;
    border-radius: 8px 8px 0 0 ;
}

.Footer {
    background-color: #0b2f4a !important;
    height: 20%;
    border-radius: 0px 0px 8px 8px ;
}

.Top-info {
    border-bottom: 1px solid #0b2f4a;
    padding: 2em;
}

.Top-info .btn.btn-star {
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 45%;
    background-color: #0b2a4a;
}
.mid-info {
    padding: 2em;
    border-bottom: 1px solid #0b2f4a;
}
.btn.btn-feedback{
    position: relative;
    left: 20%;
    width: 60%;
    background-color: #0b2a4a;
}
.input-info{
    height: 33.3%;
    padding: 2em;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:15px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.btn.btn-update{
    position: relative;
    left: 20%;
    width: 60%;
    background-color: #0b3a4a;
}.btn.btn-update:hover {
    background-color: #30E98F;
}