* {
    box-sizing: border-box;
  }
  /* OutsideBox */
  .layer-group {
    width: 30%;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    background-color: #06304a;
    border: 5px solid #06304a;
    border-radius: .5rem;
  }
  .form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  /* Toptext */
  .label h3{
    font-size: 180%;
    text-align: center;
    color: #a3a3a3;
    border-bottom: 1px solid #33fe87;
  }
  .label {
    padding: 25px;
  }
  .label h3 .login {
    color: #e6eaed;
  }
  .label h3 .signup {
    color: #57a8cc;
  }
  /* Three app buttons */
  .app-signIn {
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 1%;
    text-align: center;
    background-color: #ffffff;
    color:#000000;
    border-radius: 2rem;
  }
  .app-signIn:hover{
    background-color: #E5E5E5;
  }
  /* Email inputbox */
  .email-control {
    width: 52%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    padding: 8px 4px 8px 10px;
  }
  /* Password inputbox */
  .password-control {
    width: 52%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    padding: 8px 4px 8px 10px;
  }
  
  .password-label {
    margin-left: 6%;
  }
  /* Sign In */
  .SignInBtn {
    width: 60%;
    margin-top: 5%;
    padding: 1%;
    text-align: center;
    background-color: #33fe87;
    color:#000000;
  }
  
  .SignInBtn:hover{
    background-color: #30E98F;
  }
  .submit-group {
    text-align: center;
  }
  /* Or Line */
  .dashline {
    margin-top: 2%;
    text-align: center;
    color: #e6eaed;
    font-size: 100%;
  }
  
  .dashline:before,
  .dashline:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 23%;
  }
  
  .dashline:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .dashline:after {
    left: 0.5em;
    margin-right: -50%;
  }
  /* Forgot Password */
  .forgot-password,
  .forgot-password a {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity:1
    }
  }